@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<hr />
<h4>@ViewBag.Message</h4>

<div class="row" style="margin-top:20px;">
    <div class="col-md-3">
        <div class="panel panel-default">
            <img class="panel-img-top" src="~/Content/images/math.jpg" alt="">
            <div class="panel-footer">
                <h3 class="text-secondary text-center">Mathematics</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <img class="panel-img-top" src="~/Content/images/computer.jpeg" alt="">
            <div class="panel-footer">
                <h3 class="text-secondary text-center">Computer Science</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <img class="panel-img-top" src="~/Content/images/astronomy.jpg" alt="">
            <div class="panel-footer">
                <h3 class="text-secondary text-center">Astronomy</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <img class="panel-img-top" src="~/Content/images/physics.jpg" alt="">
            <div class="panel-footer">
                <h3 class="text-secondary text-center">Physics</h3>
            </div>
        </div>
    </div>
</div>